.button {
    background-color: #0070f3;
    color: white;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.layout {
    position: absolute;
    width: 1366px;
    height: 1060px;
    left: 79px;
    top: 52px;
}

.layoutStyle {
    border-radius: 20px;
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(255, 255, 250) 40.5%,rgb(220, 220, 235) 100%);
}

.fontLayout {
    /* Header type */
    color: rgb(62, 73, 88);
    font-family: Amaranth;
    font-size: 36px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
}

.test-img {
    padding-left: 200px;
}